<header>
  <div>
    <img src="/images/Logo_for_project-removebg-preview.svg" />
  </div>
  <div class="hamburger-menu" id="menu-btn">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>

  <!-- This is the nav bar displayed on tablets & desktop. -->
  <nav>
    <a href="#">View Posts</a>
    <a href="#">Create Post</a>
    <a href="#">Profile</a>
    <a href="#">Logout</a>
  </nav>
</header>
<section class="mobile-menu" id="mobile-menu">
  <a href="#">View Posts</a>
  <a href="#">Create Post</a>
  <a href="#">Profile</a>
  <a href="#">Register</a>
  <a href="#">Logout</a>
</section>
<div id="overlay"></div>
