<header>
  <div>
    <img class="team-up-logo"   src="/images/Logo_for_project-removebg-preview.svg" />
  </div>
  <div class="hamburger-menu" id="menu-btn">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>

  <!-- This is the nav bar displayed on tablets & desktop. -->
  <nav>
    <section class="nav-bar">
      <a asp-controller="Home" asp-action="">View Posts</a>
      <a asp-controller="Post" asp-action="Index">Create Post</a>
      <a asp-controller="Home" asp-action="FavouriteGames">Favourite Games</a>
      <partial name="_LoginPartial" />
      </section>
  </nav>
</header>
<section class="mobile-menu" id="mobile-menu">
  <a asp-controller="Home" asp-action="">View Posts</a>
  <a asp-controller="Home" asp-action="CreatePost">Create Post</a>
  <a asp-controller="Home" asp-action="FavouriteGames">Favourite Games</a>
    <partial name="_LoginPartial" />
</section>
<div id="overlay"></div>
