<nav>
    <div>
        <img src="/images/Logo_for_project-removebg-preview.svg" />
    </div>
    <div class="hamburger-menu">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>
</nav>