<section class="posts-container">
    <h1>Post Requests</h1>

    <section class="post-requests">
            <section class="post">
                <section class="post-heading">
                    <section class="post-info">
                        <i class="fa-regular fa-user svg-fill"></i>
                        <p>UserName</p>
                    </section>
                </section>
                <section class="post-description">
                    <p>this was the request you made</p>
                </section>
            </section>
    </section>
</section>
