@using PTEC_Capstone_Project.Models.ViewModels
@model CreatePostViewModel

<section class="create-post">
    <h1>Create Post</h1>

    <form asp-action="CreatePost" method="post" class="create-post-form">
        <div>
            <label for="game">Games:</label>
            <select asp-for="GameID" asp-items="ViewBag.Games"></select>
        </div>
        <div>
            <label for="num-players">Number of Players:</label>
            <input asp-for="NumberOfPlayers" type="number" min="1" />
        </div>
        <div>
            <label for="post-desc">Post Description:</label>
            <textarea asp-for="PostDescription"></textarea>
        </div>
        <div>
            <label for="rank-required">Rank Requirement:</label>
            <input asp-for="RankRequired" type="text" />
        </div>
        <div>
            <label for="level-required">Level Requirement:</label>
            <input asp-for="LevelRequired" type="text" />
        </div>
        <div>
            <input class="submit" type="submit" value="Register" />
        </div>
    </form>
</section>

