<section class="posts-container">
    <h1>Post Requests</h1>

    <section class="post-requests">

        @foreach (var gp in Model)
        {
            <section class="post">
                <section class="post-heading">
                    <section class="post-info">
                        <i class="fa-regular fa-user svg-fill"></i>
                        <p>@gp.UserName</p>
                    </section>
                </section>
                <section class="post-description">
                    <p>Would you like to accept this user to your group?</p>
                </section>
                <section class="request-join-team-btn-container">
                    <button type="submit" class="request-accept-btn">Acecpt Request</button>
                    <button type="submit" class="request-deny-btn">Deny Request</button>
                </section>
            </section>
        }
    </section>
</section>
