@model PTEC_Capstone_Project.Models.ViewModels.GamesViewModel

<form asp-action="Search" method="post">
    <div class="form-group">
        <label for="query">Game Name</label>
        <input type="text" class="form-control" id="query" name="query" placeholder="Enter game name">
    </div>
    <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i></button>
</form>


<section class="games">
    @foreach (var game in Model.Games)
    {
        <section class="game">
            <p>@game.Title</p>
            @if (Model.FavoriteGameIds.Contains(game.Id))
            {
                <form asp-action="RemoveFromFavorites" method="post">
                    <input type="hidden" name="gameId" value="@game.Id" />
                    <button type="submit"><i class="fa-solid fa-star"></i></button>
                </form>
            }
            else
            {
                <form asp-action="AddToFavorites" method="post">
                    <input type="hidden" name="gameId" value="@game.Id" />
                    <button type="submit"><i class="fa-regular fa-star"></i></button>
                </form>
            }
        </section>
    }
</section>