@model IEnumerable<PTEC_Capstone_Project.Models.Game>

<section class="favourite-games">
    <h1>Favourite Games</h1>

    <section class="games">
        @foreach (var game in Model)
        {
            <section class="game">
                <p>@game.Title</p>
                <i class="fa-regular fa-star"></i>
            </section>
        }
    </section>
</section>
