<section class="create-post">
  <h1>Create Post</h1>

  <form method="post">
    <div>
      <label for="game">Games:</label>
      <select name="game" id="game"></select>
    </div>
    <div>
      <label for="num-players">Number of Players:</label>
      <input type="number" name="num-players" id="num-players" min="1" />
    </div>
    <div>
      <label for="post-desc">Post Description:</label>
      <textarea name="post-desc" id="post-desc"></textarea>
    </div>
    <div>
      <label for="rank-required">Rank Requirement</label>
      <input type="text" name="rank-required" id="rank-required" />
    </div>
    <div>
      <label for="level-required">Level Requirement</label>
      <input type="text" name="level-required" id="level-required" />
    </div>
    <div>
      <input type="submit" value="Register" />
    </div>
  </form>
</section>
