<section class="favourite-games">
  <h1>Favourite Games</h1>

  <section class="games">
    <section class="game">
      <p>Valorant</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>Sea of Thieves</p>
      <i class="fa-solid fa-star"></i>
    </section>

    <section class="game">
      <p>FIFA 23</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>NHL 17</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>NHL 16</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>Rocket League</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>God of War</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>Rust</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>Gears of War 4</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>Halo</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>Don Bradman Cricket</p>
      <i class="fa-regular fa-star"></i>
    </section>

    <section class="game">
      <p>COD: Warzone</p>
      <i class="fa-regular fa-star"></i>
    </section>
  </section>
</section>
