<section>
  <form method="post" class="search-box">
    <input
      type="text"
      placeholder="Search"
      name="search-by-game"
      id="search-by-game"
    />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</section>
