<section>
  <form method="post" class="search-box">
    <input
      type="text"
      placeholder="Search"
      name="search-by-game"
      id="search-by-game"
    />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</section>

<section class="posts-container">
  <h1>Posts</h1>

  <section class="post">
    <section class="post-heading"></section>
  </section>
</section>
