<section>
  <form method="post" class="search-box">
    <input
      type="text"
      placeholder="Search"
      name="search-by-game"
      id="search-by-game"
    />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</section>

<section class="posts-container">
  <h1>Posts</h1>

  <section class="post">
    <section class="post-heading">
      <section class="post-info">
        <i class="fa-brands fa-d-and-d-beyond"></i>
        <p>Valorant</p>
      </section>
      <section class="post-info">
        <i class="fa-regular fa-user"></i>
        <p>RyeBread</p>
      </section>
      <section class="post-info">
        <i class="fa-regular fa-clock"></i>
        <p>Time Posted</p>
      </section>
      <section class="post-info">
        <i class="fa-solid fa-people-group"></i>
        <p>1/5</p>
      </section>
    </section>
    <section class="post-description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa vel earum
        eligendi assumenda inventore eum consectetur officia aliquid sequi!
        Consectetur, nobis vel? Quidem dicta possimus odio repellat fugiat
        eveniet minus distinctio dolore in, officiis eum magni, neque sequi
        molestias perspiciatis enim laboriosam a earum commodi doloribus
        mollitia corrupti amet. Eligendi.
      </p>
      <p>Rank:</p>
      <p>Level Requirement:</p>
    </section>
    <section class="request-join-team-btn-container">
      <button type="submit" class="request-btn">Request to be on team</button>
    </section>
  </section>
</section>
