@using PTEC_Capstone_Project.Models.ViewModels
@model IEnumerable<GamePostViewModel>


<section>
  <form method="post" class="search-box">
    <input
      type="text"
      placeholder="Search"
      name="search-by-game"
      id="search-by-game"
    />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</section>

<section class="posts-container">
  <h1>Posts</h1>

  <section class="posts">

    @foreach (var gp in Model)
        {
            <section class="post">
              <section class="post-heading">
                <section class="post-info">
                  <i class="fa-brands fa-d-and-d-beyond svg-fill"></i>
                  <p>@gp.GameName</p>
                </section>
                <section class="post-info">
                  <i class="fa-regular fa-user svg-fill"></i>
                  <p>@gp.UserName</p>
                </section>
                <section class="post-info">
                  <i class="fa-regular fa-clock svg-fill"></i>
                  <p>@gp.TimePosted</p>
                </section>
                <section class="post-info">
                  <i class="fa-solid fa-people-group svg-fill"></i>
                  <p>1/5</p>
                </section>
              </section>
              <section class="post-description">
                <p>@gp.PostDescription</p>
                <p>Rank:</p>
                <p>Level Requirement:</p>
              </section>
              <section class="request-join-team-btn-container">
                <button type="submit" class="request-btn">Request to be on team</button>
              </section>
            </section>
        }
  </section>
</section>
